<ion-view view-title="Expediente: {{cita.nombre}}" ng-controller="ExpCtrl" cache-view="false">
      <ion-content class="listado-principal">
          <ion-list show-reorder="reordering" class="listado">
              <ion-item class="item-remove-animate item-icon-right"
                href="#/edit/{{cita.id}}" 
                ng-repeat="cita in citas track by cita.id">
                  <h2>{{cita.fecha_cita}}</h2>
                  <h3>{{cita.observaciones}}</h3>
                  <i class="icon ion-arrow-right-b"></i>
                  <ion-reorder-button class="ion-drag"
                    on-reorder="move(cita, $fromIndex, $toIndex)"></ion-reorder-button>
                  <ion-option-button class="button-assertive icon-left ion-trash-b"
                    ng-click="remove(cita.id)">Eliminar</ion-option-button>
              </ion-item>
          </ion-list>
      </ion-content>
</ion-view>
